---
layout: archive
---

{{ content }}
<div class="col">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<div class="row">
<h1><span data-i18n="skills.my_skills">SKILLS</span></h1>
<canvas id="cs" height="100" width="100"></canvas>    
<script>
    var ctx = document.getElementById("cs");
    var data = {
    labels: "Collaboration, Data Analysis, Python, HTML/CSS, Communication, PM".split(","),
    datasets: [{
        label: "Ability",
        backgroundColor: "rgba(179,181,198,0.2)",
        borderColor: "#2db357",
        pointBackgroundColor: "#2db357",
        pointBorderColor: "#fff",
        pointHoverBackgroundColor: "#2db357",
        pointHoverBorderColor: "#2db357",
        data: [95, 80, 70, 85, 85, 80]
        }]
    };
    var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    options: {

        scale: {
            responsive: true,
            ticks: {min: 0, max: 100},
            lineArc: false,
            pointLabels: {fontSize: 15},
        },
        scaleFontSize: 0,
        legend: {display: false},
    }
    });
</script>
</div>
</div>
<div class="type-info">
	<h1>PERSONALITY</h1>
    <h3><span>Campaigner 재기발랄한 활동가 (ENFP) </span> </h3> 
</div>
<article class="main description">
	<blockquote>
    <p>It doesn’t interest me what you do for a living. I want to know what you ache for – and if you dare to dream of meeting your heart’s longing. It doesn’t interest me how old you are. I want to know if you will risk looking like a fool – for love – for your dreams – for the adventure of being alive.</p>
    <p>당신이 생계를 위해 무슨 일을 하는지, 저는 관심 없습니다. 다만 제가 알고 싶은 건 당신이 가슴 저리게 동경하는 것이 있는지, 당신 마음속 깊은 바람을 감히 충족시키고자 하는 열망이 있는지입니다. 당신의 나이가 얼마인지는 중요하지 않습니다. 당신이 사랑을 위해, 당신의 꿈을 위해, 그리고 삶이라는 모험을 위해 기꺼이 바보가 될 준비가 되어 있는지, 그것이 궁금할 뿐입니다.</p>
    <footer>Oriah Mountain Dreamer</footer>
	</blockquote>
    <div class="scene">
        <img alt="성격유형 : “재기발랄한 활동가” (ENFP-A / ENFP-T)" src="https://static.neris-assets.com/images/personality-types/scenes/s1/diplomats_Campaigner_ENFP_introduction.svg?v=1">
    </div>	
</article>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}